### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

### RL Agent Training ###
trained_rl_agents/

### SCM Training ###
scm_models/
scm_dataset/

### Data ###
*.csv
*.npy

### Causal Discovery ###
causal_discovery_dataset/
causal_discovery/output/
causal_discovery/training_data